<article style="flex: 3; box-shadow: none;">
   <header>
      <nav>
        <hgroup>
          <h1 style="display:inline; vertical-align:middle;">Tým</h1>
			 <p style="display:inline; vertical-align:bottom; margin-left: 1rem" >1. Pololetí - 1.EP</p>
        </hgroup>
		  <hgroup style="display: flex; gap: 0.5em;">
			  <input class="createButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0;" type="button" value="Přehled" onclick="addRow()" />
			  <input class="createButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0;" type="button" value="Známkování" onclick="addRow()" />
			</hgroup>
      </nav>
	</header>
   <main>
      <div style=" display: flex; position: relative; overflow-y: auto; max-height: calc(100vh - 14em); padding-right: 15px; ">
         <div id="mainThing" style="flex: auto">
			
				<div class="timeline-container">
				  <div class="timeline">
						<div class="progress"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
				  </div>
				  <div class="labels">
						<div>0</div>
						<div>1</div>
						<div>2</div>
						<div>3</div>
						<div>4</div>
						<div>5</div>
						<div>6</div>
				  </div>
			 </div>
			
 				<table id="curriculums">
               <thead style="position: sticky; top: 0; z-index: 1">
                  <tr>
                     <th style="width: 25%; text-align: center;" colspan="2"></th>
							<th style="text-align: center;">Člen 1</th>
							<th style="text-align: center;">Člen 2</th>
							<th style="text-align: center;">Člen 3</th>
							<th style="text-align: center;">Člen 4</th>
						</tr>
						<tr>
                     <th style="width: 25%; text-align: center;" colspan="2">Pitch</th>
							<th style="text-align: center;"></th>
							<th style="text-align: center;"></th>
							<th style="text-align: center;"></th>
							<th style="text-align: center;"></th>
						</tr>
					</thead>
               <tbody id="table-body">
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">1.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">2.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">3.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">4.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">5.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
                     <td style="text-align: center;" rowspan="4">6.</td>
							<td style="text-align: center;">1/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">2/2</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za commity</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
						<tr class="cur">
							<td style="text-align: center;">Známka za devlog</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
							<td style="text-align: center;">0</td>
						</tr>
					</tbody>
				</table>
			</div>
         
		</div>
	</main>
</article>