<article style="flex: 3; box-shadow: none;">
   <header>
      <nav>
        <hgroup>
          <h1 style="display:inline; vertical-align:middle;">Přehled</h1>
			 <p style="display:inline; vertical-align:bottom; margin-left: 1rem" >1. Pololetí - 1.EP</p>
        </hgroup>
		  <hgroup style="display: flex; gap: 0.5em;">
			  <input class="createButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0;" type="button" value="Přehled" onclick="addRow()" />
			  <input class="createButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0;" type="button" value="Známkování" onclick="addRow()" />
			</hgroup>
      </nav>
	</header>
   <main>
      <div style="position: relative; max-height: calc(100vh - 14em); padding-right: 15px; ">
         <div id="mainThing" style="flex: auto">
			
				<div class="timeline-container">
				   <div class="timeline">
						<div class="progress"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
				   </div>
				   <div class="labels">
						<div>0</div>
						<div>1</div>
						<div>2</div>
						<div>3</div>
						<div>4</div>
						<div>5</div>
						<div>6</div>
				   </div>
			   </div>
			 
			   <div style="display: flex; flex-wrap: wrap;">
				   <div style="flex: 1; padding: 0 var(--pico-block-spacing-horizontal);">
						<label for="description">Popis</label>
					   <input type="text" name="description" id="description" value="0" onchange="selectOption(this)" style="margin: 0">
						<label style="margin-top: 1em;">Členové</label>
							<div class="members">
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div class="add-option">
									<input class="createButton" style="padding: 0; min-height: 0; height: 2em; margin: 0" type="button" value="+" onclick="addRow()" />
							   </div>
							</div>
						<label for="link">URL:</label>
					</div>
					<div style="flex: 1; padding: 0 var(--pico-block-spacing-horizontal);">
						<label>Featury</label>
						<div class="members" style="max-height: 13.5rem;">
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div class="add-option">
									<input class="createButton" style="padding: 0; min-height: 0; height: 2em; margin: 0" type="button" value="+" onclick="addRow()" />
							   </div>
							</div>
							
							
							<label style="margin-top: 1em;">Stretch goaly</label>
							<div class="members" style="max-height: 17.5rem;">
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
								<div style="display: flex; align-items: center;" class="members-input">
									<input type="button" value="-" class="deleteButton" style="margin-bottom: 0;">
									<input class="members-item" type="text" value="0" onchange="selectOption(this)" style="margin: 0">
								</div>
							   <div class="add-option">
									<input class="createButton" style="padding: 0; min-height: 0; height: 2em; margin: 0" type="button" value="+" onclick="addRow()" />
							   </div>
							</div>
					</div>
					<div style="flex: 0 0 100%;">
						<input type="text" name="link" id="link" value="0" onchange="selectOption(this)" style="margin: 0">
					</div>
			   </div>
			</div>
		</div>
	</main>
</article>