<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozvržení</title>

</head>
<body>
 
    <div class="levy_panel">
        <button>Přepínač</button>
        <button class="team-button">1.ep</button>
        <button class="team-button">2.ep</button>
        <button class="team-button">3.ep</button>
        <button class="team-button">4.ep</button>
    </div>

    <div class="main-content">
    
        <h1 class="main-heading">Hlavní menu</h1>
        <div class="divider"></div>
        
        <div class="phase">Fáze</div>
        
        
        <table>
           <tr>
               <th>Sloupec 1</th>
               <th>Sloupec 2</th>
           </tr>
           <tr>
               <td>Data 1</td>
               <td>Data 2</td>
           </tr>
           <tr>
               <td>Data 3</td>
               <td>Data 4</td>
           </tr>
           <tr>
               <td>Data 5</td>
               <td>Data 6</td>
           </tr>
           <tr>
               <td>Data 7</td>
               <td>Data 8</td>
           </tr>
           <tr>
               <td>Data 9</td>
               <td>Data 10</td>
           </tr>
       </table>
    </div>
</body>
</html>