<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/osnovy/css/main.css" />
<link rel="stylesheet" href="/projekty/css/main.css" />
<article style=" width: 20vw; min-width: 20vw; margin-right: 1em; resize: horizontal; ">
   <header>
      <h1 style="display:inline; vertical-align:middle;">Projekty</h1>
	</header>
   <main style="justify-content: center;">
		<h3>1. Pololetí</h3>
        <div id="2ep-1">
            <input style="margin-left: 0;" type="button" value="2.EP" onclick="window.location.href = '/projekty/2ep-1';">
            <input type="button" value="Tým1" style="margin-left: 10%; width: 80%;" onclick="window.location.href = '/projekty/2ep-1-1';">
            <input type="button" value="Tým2" style="margin-left: 10%; width: 80%;" onclick="window.location.href = '/projekty/2ep-1-2';">
        </div>
         <div id="3ep-1">
            <input style="margin-left: 0;" type="button" value="3.EP" onclick="window.location.href = '/projekty/3ep-1';">
         </div>                                                      
         <div id="4ep-1">                                            
            <input style="margin-left: 0;" type="button" value="4.EP" onclick="window.location.href = '/projekty/4ep-1';">
         </div>                                                      
		<h3>2. Pololetí</h3>                                           
        <div id="1ep-2">                                             
            <input style="margin-left: 0;" type="button" value="1.EP" onclick="window.location.href = '/projekty/1ep-2';">
        </div>                                                       
         <div id="2ep-2">                                            
            <input style="margin-left: 0;" type="button" value="2.EP" onclick="window.location.href = '/projekty/2ep-2';">
         </div>                                                      
         <div id="3ep-2">                                            
            <input style="margin-left: 0;" type="button" value="3.EP" onclick="window.location.href = '/projekty/3ep-2';">
         </div>
	</main>
</article>



<!-- Upload tlačítko je v class.ejs -->
<article class="class" style="flex: 3;">
		<% if (files != "none") { %>
			<div class="classOverview" id="class" >
				<%- include(`./new/${files}.ejs`); %>
			</div>
			<div class="classDetails" id="classDetails" style="display: none">
				<%- include(`./new/${files}Details.ejs`); %>
			</div>
		<% } %>
</article>



<script src="/osnovy/js/main.js"></script>
<script src="/projekty/js/main.js"></script>
<script src="/projekty/js/team.js"></script>
<%- include('../partials/tail') %>
