<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/osnovy/css/main.css" />
<link rel="stylesheet" href="/projekty/css/main.css" />
<article style=" width: 20vw; min-width: 20vw; margin-right: 1em; resize: horizontal; ">
   <header>
      <h1 style="display:inline; vertical-align:middle;">Projekty</h1>
	</header>
   <main>
		<h3>1. Pololetí</h3>
         <input style="margin-left: 0;" type="button" value="2ep"onclick="window.location.href = '/osnovy/';">
         <input style="margin-left: 0;" type="button" value="3ep"onclick="window.location.href = '/osnovy/';">
         <input style="margin-left: 0;" type="button" value="4ep"onclick="window.location.href = '/osnovy/';">
		<h3>2. Pololetí</h3>
         <input style="margin-left: 0;" type="button" value="1ep"onclick="window.location.href = '/osnovy/';">
         <input style="margin-left: 0;" type="button" value="2ep"onclick="window.location.href = '/osnovy/';">
         <input style="margin-left: 0;" type="button" value="3ep"onclick="window.location.href = '/osnovy/';">
		</div>
	</main>
</article>



<!-- Upload tlačítko je v class.ejs -->
<article class="class" style="flex: 3;">
		<div class="classOverview" id="class" >
			<%- include('./new/class.ejs'); %>
		</div>
		<div class="classDetails" id="classDetails" style="display: none">
			<%- include('./new/classDetails.ejs'); %>
		</div>
</article>



<script src="/osnovy/js/main.js"></script>
<script src="/projekty/js/main.js"></script>
<%- include('../partials/tail') %>
