<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozvržení</title>
    <style>
        body {
            display: flex;
            justify-content: flex-start;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }
        .levy_panel {
            width: 200px; 
            background-color: #f0f0f0;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            border-radius: 8px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }
        .levy_panel button {
            width: 100%;
            padding: 20px;
            font-size: 18px;
            margin-bottom: 20px;
            cursor: pointer;
            background-color: #ddd;
            border: none;
            border-radius: 8px;
        }
        .team-button {
            padding: 15px; 
            font-size: 18px; 
            width: 100%;
            margin: 10px 0;
            background-color: #ddd;
            border: none;
            cursor: pointer;
            border-radius: 8px;
        }
        .main-content {
            margin-left: 220px; 
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            width: calc(100% - 220px);
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: flex-start;
            min-height: calc(100vh - 40px); 
        }
        .main-heading {
            font-size: 36px; 
            font-weight: bold;
            margin-bottom: 20px; 
        }
        .divider {
            width: 100%;
            height: 2px;
            background-color: #ddd;
            margin-bottom: 20px; 
        }
        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 20px;
            text-align: center;
            font-size: 18px;
        }
        th {
           background-color: #f2f2f2; 
        }
        .team-info-section {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #e8e8e8;
            border-radius: 5px;
            font-size: 18px;
            display: none; 
        }
        .detail-button {
            margin: 10px;
            padding: 15px;
            background-color: #ccc;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }
        .input-container {
            margin: 10px 0;
            text-align: left;
        }
        .input-container label {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .input-container input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .input-container textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .save-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .table-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .feature-goal-container {
            width: 48%;
        }
        .grades-container {
            width: 48%;
        }
        table.grade-table {
            width: 100%;
            margin-top: 10px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        .okno {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }

        .okno-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 40%; 
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="levy_panel">
        <button>Přepínač</button>
        <button>Týmy</button>
        <button class="team-button">1.ep</button>
        <button class="team-button">2.ep</button>
        <button class="team-button">3.ep</button>
        <button class="team-button">4.ep</button>
        <button type="submit" id="open-okno" class="team-button">Vytvořit Projekt</button>
    </div>

    <div class="main-content">
        <h1 class="main-heading">Hlavní týmy</h1>
        <div class="divider"></div>
        
        <table>
            <tr>
                <th>Týmy</th>
            </tr>
            <tr>
                <td>
                    <button onclick="showTeamInfo('Tým 1', this)">Tým 1</button>
                    <div class="team-info-section"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="showTeamInfo('Tým 2', this)">Tým 2</button>
                    <div class="team-info-section"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="showTeamInfo('Tým 3', this)">Tým 3</button>
                    <div class="team-info-section"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="showTeamInfo('Tým 4', this)">Tým 4</button>
                    <div class="team-info-section"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="myokno" class="okno">
        <div class="okno-content">
            <form action="/projekty/tymy/pridatProjekt" method="post">
                <span class="close">&times;</span>
                <h2>Vytvořit Projekt</h2>
                <div class="input-container">
                    <label for="class-name">Třída:</label>
                    <input type="text" id="class-name" name="className" placeholder="Zadejte třídu">
                </div>
                <div class="input-container">
                    <label for="semester">Pololetí:</label>
                    <input type="text" id="semester" name="semester" placeholder="Zadejte pololetí">
                </div>
                <div class="input-container">
                    <label for="students-count">Počet žáků:</label>
                    <input type="number" id="students-count" name="studentsCount" placeholder="Zadejte počet žáků">
                </div>
                <div class="input-container">
                    <label for="project-date">Datum začátku projektu:</label>
                    <input type="date" id="project-date" name="projectDate">
                </div>
                <button type="submit" class="save-button">Vytvořit</button>
            </form>
            
        </div>
    </div>

    <script>
        var okno = document.getElementById("myokno");
        var btn = document.getElementById("open-okno");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            okno.style.display = "block";
        }

        span.onclick = function() {
            okno.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == okno) {
                okno.style.display = "none";
            }
        }

        function createProject() {
            const className = document.getElementById('class-name').value;
            const semester = document.getElementById('semester').value;
            const studentsCount = document.getElementById('students-count').value;
            const projectDate = document.getElementById('project-date').value;

        }
    </script>
</body>
</html>
