<!DOCTYPE html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head style="flex: none">
        <%- include('../partials/head'); %>
        <style>
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto auto auto auto;
              padding: 10px;
            }
            .grid-item {
              border: 1px solid rgba(0, 0, 0, 0.8);
              padding: 20px;
              font-size: 30px;
              text-align: center;
            }
            </style>
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <%- include('../partials/header'); %>
        <main
            style="
                padding: 1em;
                padding-bottom: 0;
                flex: auto;
                background-image: linear-gradient(
                    45deg,
                    hsla(192, 100%, 50%, 0.1) 0%,
                    hsla(162, 100%, 50%, 0.1) 50%,
                    hsla(132, 100%, 50%, 0.1) 100%
                );
                display: flex;
            "
        >
            <article
                style="
                    width: 20vw;
                    min-width: 20vw;
                    margin-right: 1em;
                    overflow-y: auto;
                    resize: horizontal;
                "
            >
                <h1>Sidebar</h1>
                <p>
                    
                    <a style="color: black;" href="../kalendar/tydenni">Týdenní</a>
                    <br>
                    <a style="color: black;" href="../kalendar/">Měsíční</a>
                    
                </p>
            </article>
            <article style="flex: 3">
                <h1>Měsíční kalendář</h1>
                    <section class="grid-container">
                        <p class="grid-item">Pondělí</p>
                        <p class="grid-item">Úterý</p>
                        <p class="grid-item">Středa</p>
                        <p class="grid-item">Čtvrtek</p>
                        <p class="grid-item">Pátek</p>
                        <p class="grid-item">Sobota</p>
                        <p class="grid-item">Neděle</p>
                        <%
                            let startDate = new Date(2024,8,2);
                            let endDate = new Date(2025,5,27);
                            const increment = 24 * 60 * 60 * 1000 //Miliseconds per day
                        %>
                        <% for (let i = startDate.getTime(); i <= endDate.getTime();i += increment) {%>
                            <section class="grid-item">
                                <p><%= new Date(i).getDate()%> / <%= new Date(i).getMonth() + 1%></p>
                            </section>
                        <% }%>

                    </section>
            </article>
        </main>
    </body>
</html>
