<!DOCTYPE html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head style="flex: none">
        <%- include('../partials/head'); %>
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <%- include('../partials/header'); %>
        <main
            style="
                padding: 1em;
                padding-bottom: 0;
                flex: auto;
                overflow-y: hidden;
                background-image: linear-gradient(
                    45deg,
                    hsla(192, 100%, 50%, 0.1) 0%,
                    hsla(162, 100%, 50%, 0.1) 50%,
                    hsla(132, 100%, 50%, 0.1) 100%
                );
                display: flex;
            "
        >
            <article
                style="
                    width: 20vw;
                    min-width: 20vw;
                    margin-right: 1em;
                    overflow-y: auto;
                    resize: horizontal;
                "
            >
                <h1>Sidebar</h1>
                <p>
                    
                    <a style="color: black;" href="../kalendar/tydenni">Týdenní</a>
                    <br>
                    <a style="color: black;" href="../kalendar/">Měsíční</a>
                    
                </p>
            </article>
            <article style="flex: 3">
                <h1>Měsíční kalendář</h1>
                <p>
                    <table>
                        <tr>
                            <th>Pondělí</th>
                            <th>Úterý</th>
                            <th>Středa</th>
                            <th>Čtvrtek</th>
                            <th>Pátek</th>
                            <th>Sobota</th>
                            <th>Neděle</th>
                        </tr>
                        <% for (let j=0; j < 5; j++) {%>
                        <tr>
                            <% for(let i = 0; i < 7; i++) {%>
                                <td><%= day + i +(j * 7) %> / <%= month %></td>
                            <% }%>
                        </tr>
                        <% }%>
                </p>
            </article>
        </main>
    </body>
</html>
