<!doctype html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Přehledovnik</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>    
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <nav
            style="
                padding: 0em 1em;
                flex: none;
            "
        >
            <ul>
                <li><strong>Přehledovnik</strong></li>
            </ul>
            <ul>
                <li>
                    <a
                        class="contrast"
                        hx-get="/test"
                        hx-swap="innerHTML"
                        hx-target="main article"
                    >
                        Placeholder
                    </a>
                </li>
            </ul>
        </nav>
        <main>
        </main>
    </body>
</html>
