<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Události</title>
</head>
<body>
    <h1>Tady bude stránka pro události</h1>
</body>
</html>