        <nav style="padding: 0em 1em;">
            <ul>
                <li><strong>Přehledovnik</strong></li>
            </ul>
            <ul>
                <li>
                    <button class="outline" hx-get="/rozvrh" hx-target="body" hx-push-url="true">
                        Rozvrh
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/osnovy" hx-target="body" hx-push-url="true">
                        Osnovy
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/udalosti" hx-target="body" hx-push-url="true">
                        Události
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/ukoly" hx-target="body" hx-push-url="true">
                        Úkoly
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/maturita" hx-target="body" hx-push-url="true">
                        Maturita
                    </button>
                </li>
            </ul>
        </nav>
