<!doctype html>
<html lang="cs">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Přehledovnik</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="rozvrh.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<style>
    html {
        max-height: 100vh;
        max-width: 100vw;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    nav {
        padding: 0em 1em;
        flex: none;
    }

    main {
        padding: 1em;
        padding-bottom: 0;
        flex: auto;
        overflow-y: hidden;
        background-image: linear-gradient(45deg,
                hsla(192, 100%, 50%, 0.1) 0%,
                hsla(162, 100%, 50%, 0.1) 50%,
                hsla(132, 100%, 50%, 0.1) 100%);
        display: flex;
    }

    article {
        width: 20vw;
        min-width: 20vw;
        margin-right: 1em;
        overflow-y: auto;
        resize: horizontal;
    }

    .articlesecond {
        flex: 3;
    }


    .timetable {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    .timetable thead th {
        background-color: white;
        padding: 10px;
        border-bottom: 2px solid #ddd;
    }

    .timetable th,
    .timetable td {
        border: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
    }



    .timetable td {
        background-color: white;
    }

    .timetable-btn {
        background-color: #eceaea;
        color: black;
        width: 100%;
        height: 100%;
        border: none;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .timetable-btn:hover {
        background-color: rgb(0, 132, 255);
        color: white;
    }


    .timetable {
        border: none;
    }

    .timetable th:first-child {
        background-color: white;
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fefefe;
        padding: 40px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.5s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

    }

    .close-btn:hover,
    .close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .btn-save {
        border: none;
        background-color: rgb(0, 132, 255);
        width: 100%;
    }

    .btn-save:hover {
        background-color: rgb(66, 66, 197);

    }


    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<body>
    <nav>
        <ul>
            <li><strong>Přehledovnik</strong></li>
        </ul>
        <ul>
            <li>
                <button class="outline" hx-get="/test" hx-target="main">
                    Rozvrh
                </button>
            </li>
            <li>
                <button class="outline" hx-get="/test" hx-target="main">
                    Osnovy
                </button>
            </li>
            <li>
                <button class="outline" hx-get="/test" hx-target="main">
                    Události
                </button>
            </li>
            <li>
                <button class="outline" hx-get="/test" hx-target="main">
                    Úkoly
                </button>
            </li>
            <li>
                <button class="outline" hx-get="/test" hx-target="main">
                    Maturita
                </button>
            </li>
        </ul>
    </nav>
    <main>
        <article>
            <h2>Verze</h2>
            <form action="">
                <select name="verze" id="jakaverze">
                    <option value="">Aktuální</option>
                    <option value="">Datum1</option>
                    <option value="">Datum2</option>
                    <option value="">Datum3</option>
                </select>
            </form>
            <button class="btn-save" onclick="alert('Verze uložena!')">Uložit</button>
        </article>
        <article class="articlesecond">
            <h2>Sudý týden</h2>
            <table class="timetable">
                <thead>
                    <tr>
                        <th class="th-first"></th>
                        <th class="th-smaller">0<br>7:10 - 7:55</th>
                        <th class="th-smaller">1<br>8:00 - 8:45</th>
                        <th class="th-smaller">2<br>8:50 - 9:35</th>
                        <th class="th-smaller">3<br>9:55 - 10:40</th>
                        <th class="th-smaller">4<br>10:45 - 11:30</th>
                        <th class="th-smaller">5<br>11:35 - 12:25</th>
                        <th class="th-smaller">6<br>12:35 - 13:20</th>
                        <th class="th-smaller">7<br>13:25 - 14:10</th>
                        <th class="th-smaller">8<br>14:15 - 15:00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Po</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Po','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Po','S')">+</button></td>
                    </tr>
                    <tr>
                        <td>Út</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Ut','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Ut','S')">+</button></td>
                    </tr>
                    <tr>
                        <td>St</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','St','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','St','S')">+</button></td>
                    </tr>
                    <tr>
                        <td>Čt</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Ct','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Ct','S')">+</button></td>
                    </tr>
                    <tr>
                        <td>Pá</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Pa','S')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Pa','S')">+</button></td>
                    </tr>
                </tbody>
            </table>


            <h2>Lichý týden</h2>
            <table class="timetable">
                <thead>
                    <tr>
                        <th></th>
                        <th>0<br>7:10 - 7:55</th>
                        <th>1<br>8:00 - 8:45</th>
                        <th>2<br>8:50 - 9:35</th>
                        <th>3<br>9:55 - 10:40</th>
                        <th>4<br>10:45 - 11:30</th>
                        <th>5<br>11:35 - 12:25</th>
                        <th>6<br>12:35 - 13:20</th>
                        <th>7<br>13:25 - 14:10</th>
                        <th>8<br>14:15 - 15:00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Po</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Po','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Po','L')">+</button></td>
                    </tr>
                    <tr>
                        <td>Út</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Ut','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Ut','L')">+</button></td>
                    </tr>
                    <tr>
                        <td>St</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','St','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','St','L')">+</button></td>
                    </tr>
                    <tr>
                        <td>Čt</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Ct','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Ct','L')">+</button></td>
                    </tr>
                    <tr>
                        <td>Pá</td>
                        <td><button class="timetable-btn" onclick="showPopup('0','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('1','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('2','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('3','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('4','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('5','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('6','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('7','Pa','L')">+</button></td>
                        <td><button class="timetable-btn" onclick="showPopup('8','Pa','L')">+</button></td>
                    </tr>
                </tbody>
            </table>


            <div id="popupModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <h2>Předmět</h2>
                    <form action="">
                        <select name="verze" id="jakypredmet">
                            <option value="Volno">Volno</option>
                            <option value="PVA 1.EP">PVA 1.EP (4)</option>
                            <option value="PVA 2.EP">PVA 2.EP (4)</option>
                            <option value="PVA 3.EP">PVA 3.EP (4)</option>
                            <option value="PVA 4.EP">PVA 4.EP (4)</option>
                            <option value="HARDWARE 1.EP">HARDWARE 1.EP (1)</option>
                            <option value="CMT 4.EP">CMT 4.EP (1)</option>
                            <option value="MEH 3.EP">MEH 3.EP (4)</option>
                        </select>
                        <input type="text" name="" id="mistnost" placeholder="Název učebny">
                        <select name="" id="skupina">
                            <option value="sk1">Skupina 1</option>
                            <option value="sk1">Skupina 2</option>
                        </select>

                    </form>
                    <button class="btn-save" onclick="potvrditHodinu()">Potvrdit</button>
                </div>
            </div>
        </article>
        <script>
            function showPopup(cas, den, tyden) {
                casHodiny = cas;
                denHodiny = den;
                druhTydne = tyden;
                document.getElementById("popupModal").style.display = "block";
            }

            function closePopup() {
                document.getElementById("popupModal").style.display = "none";
            }


            window.onclick = function (event) {
                var modal = document.getElementById("popupModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function potvrditHodinu() {
                const predmet = document.getElementById('jakypredmet').value;
                const ucebna = document.getElementById('mistnost').value;
                const cas = casHodiny;
                const den = denHodiny;
                const tyden = druhTydne;
                const skupina = document.getElementById('skupina').value;

                ulozitHodinu(cas, den, tyden, predmet, ucebna, skupina);
            }

            window.onclick = function (event) {
                var modal = document.getElementById("popupModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function ulozitHodinu(cas, den, tyden, predmet, ucebna, skupina) {
                const rozvrhy = {
                    "nextID": 1,
                    "hodiny": []
                };

                const novaHodina = {
                    "id": rozvrhy.nextID,
                    "den": den,
                    "cas": cas,
                    "tyden": tyden,
                    "predmet": predmet,
                    "ucebna": ucebna,
                    "skupina": skupina
                };

                closePopup();

                rozvrhy.hodiny.push(novaHodina);

                rozvrhy.nextID++;

                console.log(rozvrhy);
            }
        </script>


    </main>
</body>

</html>