<!doctype html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Přehledovnik</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script>
            function showSettingsPanel() {
                const settingsPanel = document.getElementById('settingsPanel');
                settingsPanel.style.display = 'block';
            }
        </script>
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <nav style="padding: 0em 1em; flex: none">
            <ul>
                <li><strong>Přehledovnik</strong></li>
            </ul>
            <ul>
                <li>
                    <button class="outline" hx-get="/test" hx-target="main">
                        Rozvrh
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/test" hx-target="main">
                        Osnovy
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/test" hx-target="main">
                        Události
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/test" hx-target="main">
                        Úlohy
                    </button>
                </li>
                <li>
                    <button class="outline" hx-get="/test" hx-target="main">
                        Maturita
                    </button>
                </li>
            </ul>
        </nav>
        <main
            style="padding: 1em; padding-bottom: 0; flex: auto; overflow-y: hidden;
                   background-image: linear-gradient(45deg, hsla(192, 100%, 50%, 0.1) 0%,
                   hsla(162, 100%, 50%, 0.1) 50%, hsla(132, 100%, 50%, 0.1) 100%);
                   display: flex;">
            
			<article
                style="width: 20vw; min-width: 20vw; margin-right: 1em; overflow-y: auto; resize: horizontal;">
                <h1>Předmět</h1>
					
				<form id="create">
					<input type="submit" value="Submit" onclick="CreateNewCurriculum()">
				</form>
				
                <select name="predmet" id="predmet">
                    <optgroup label="Teoretický">
                        <option value="tPredmet1">predmet1</option>
                        <option value="tPredmet2">predmet2</option>
                        <option value="tPredmet3">predmet3</option>
                    </optgroup>
                    <optgroup label="Praktický">
                        <option value="pPredmet1">predmet1</option>
                        <option value="pPredmet2">predmet2</option>
                        <option value="pPredmet3">predmet3</option>
                    </optgroup>
                </select>
                <h1>Třída</h1>
                <select name="trida" id="trida">
                    <optgroup label="EP">
                        <option value="EP1">1.EP</option>
                        <option value="EP2">2.EP</option>
                        <option value="EP3">3.EP</option>
                        <option value="EP4">4.EP</option>
                    </optgroup>
                    <optgroup label="IT">
                        <option value="IT1">1.IT</option>
                        <option value="IT2">2.IT</option>
                        <option value="IT3">3.IT</option>
                        <option value="IT4">4.IT</option>
                    </optgroup>
                </select>
                <h1>Počet Hodin</h1>
                <input type="text" id="pHodin" name="pHodin">
                <input type="submit" value="Uložit">
                <input type="button" value="Vytvořit" onclick="showSettingsPanel()">
=======
>>>>>>> Stashed changes
            </article>
            <article style="flex: 3; overflow-y: auto; max-height: calc(100vh - 3em); flex-direction: row;">
							<h1>Tematický plán</h1>
					<h4>Třída + Předmět</h4>

<<<<<<< Updated upstream
            <article style="flex: 3; overflow-y: auto; max-height: calc(100vh - 3em);">
                <h1>Tematický plán</h1>
                <h4>Třída + Předmět</h4>
                <div id="settingsPanel" style="display: none; border: 1px solid #ccc; padding: 1em; margin-top: 1em;">
                    <h2>Nastavení Tematického Plánu</h2>
                    <label for="newTrida">Třída:</label>
                    <input type="text" id="newTrida" name="newTrida"><br><br>
                    <label for="newPredmet">Předmět:</label>
                    <input type="text" id="newPredmet" name="newPredmet"><br><br>
                    <label for="newPocetHodin">Počet Hodin:</label>
                    <input type="text" id="newPocetHodin" name="newPocetHodin"><br><br>
                    <input type="button" value="Uložit" onclick="alert('Data byla uložena')">
                </div>
=======
			<div style="display: flex; position: relative">
				<div style="flex: auto">
					<table>
						<thead>
							<tr>
								<th>Téma</th>
								<th>Od</th>
								<th>Do</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="text" value="Soudobé trendy ve vývoji aplikací"></td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="text" value="Data mining, Big data"></td>
								<td>2</td>
								<td>2</td>
							</tr>
							<tr>
								<td><input type="text" value="Umělá inteligence, strojové učení"></td>
							</tr>
							<tr>
								<td><input type="text" value="Neuronové sítě, generativní AI"></td>
							</tr>
							<tr>
								<td><input type="text" value="Cloud computing, aplikace jako služba"></td>
							</tr>
							<tr>
								<td><input type="text" value="Závěrečný projekt"></td>
							</tr>
							<tr>
								<td><input type="text" value="Distribuce a monetizace aplikací"></td>
							</tr>
							<tr>
								<td><input type="text" value="Open Source, komunitní vývoj"></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div style="width: 16em; margin-left: 2em; position: sticky; top: 0">
						<h1>Předmět</h1>
					<select name="predmet" id="predmet">
						<optgroup label="Teoretický">
							<option value="tPredmet1">predmet1</option>
							<option value="tPredmet2">predmet2</option>
							<option value="tPredmet3">predmet3</option>
						</optgroup>
						<optgroup label="Praktický">
							<option value="pPredmet1">predmet1</option>
							<option value="pPredmet2">predmet2</option>
							<option value="pPredmet3">predmet3</option>
						</optgroup>
					</select>
					<h1>Třída</h1>
					<select name="trida" id="trida">
						<optgroup label="EP">
							<option value="EP1">1.EP</option>
							<option value="EP2">2.EP</option>
							<option value="EP3">3.EP</option>
							<option value="EP4">4.EP</option>
						</optgroup>
						<optgroup label="IT">
							<option value="IT1">1.IT</option>
							<option value="IT2">2.IT</option>
							<option value="IT3">3.IT</option>
							<option value="IT4">4.IT</option>
						</optgroup>
					</select>
					<h1>Počet Hodin</h1>
					<input type="text" id="pHodin" name="pHodin">
					<input type="submit" value="Uložit">
					</div>
				</div >  
				
>>>>>>> Stashed changes
            </article>
			
			
        </main>
		
		<script src="/osnovy/js/main.js"></script>
    </body>
</html>