<nav>
  <ul>
    <li onclick="window.location.href='/'" style="cursor: pointer;">
        <img src="/logo.ico" alt="Logo" style="width: 32px; height: 32px; vertical-align: middle;" />
        <b style="vertical-align: middle;">Přehledovník</b>
    </li>
    <li>
      <button
        onclick="window.location.href='/kalendar'"
        >
        Kalendář
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/rozvrhy'"
        >
        Rozvrh
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/projekty'"
        >
        Projekty
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/udalosti'"
        >
        Události
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/osnovy'"
        >
        Osnovy
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/maturity'"
        >
        Maturita
      </button>
    </li>
    <li>
      <button id="theme-switcher" onclick="switchTheme()">
        <span id="theme-icon">🌜</span>
      </button>
    </li>
  </ul>
</nav>
<script>
  function switchTheme() {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
    document.getElementById('theme-icon').textContent = newTheme === 'dark' ? '🌞' : '🌜';
  }

  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', savedTheme);
    document.getElementById('theme-icon').textContent = savedTheme === 'dark' ? '🌞' : '🌜';
  });
</script>
