<nav>
  <ul>
    <li>
        <b>Přehledovnik</b>
    </li>
    <li>
      <button
        hx-get="/kalendar"
        hx-target="body"
        hx-push-url="true">
        Kalendář
      </button>
    </li>
    <li>
      <button
        hx-get="/rozvrhy"
        hx-target="body"
        hx-push-url="true"
        >
        Rozvrh
      </button>
    </li>
    <li>
      <button
        hx-get="/osnovy"
        hx-target="body"
        hx-push-url="true"
        >
        Osnovy
      </button>
    </li>
    <li>
      <button
        hx-get="/udalosti"
        hx-target="body"
        hx-push-url="true"
        >
        Události
      </button>
    </li>
    <li>
      <button
        hx-get="/projekty"
        hx-target="body"
        hx-push-url="true"
        >
        Projekty
      </button>
    </li>
    <li>
      <button
        hx-get="/maturity"
        hx-target="body"
        hx-push-url="true"
        >
        Maturita
      </button>
    </li>
  </ul>
</nav>
