<html lang="cs" style="max-height: 100vh; max-width: 100vw">
  <head style="flex: none">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Přehledovnik</title>
    <link
      rel="stylesheet"
      href="/css/pico.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <style>
      :root {
        --pico-font-size: 100%;
        background-image: linear-gradient(
          45deg,
          hsla(192, 100%, 50%, 0.1) 0%,
          hsla(162, 100%, 50%, 0.1) 50%,
          hsla(132, 100%, 50%, 0.1) 100%
        );
      }
      nav {
          background-color: hsl(223.17073, 55%, 29%);
          padding: 0em 1em;
          margin-bottom: 1em;
          --pico-color: hsl(199.41176, 100%, 100%);
          ul {
            width: 100%;
          }
          ul li:not(:first-child) {
            flex-grow: 1;
            button {
              width: 100%;
            }
          }
      }
      article {
        --pico-card-sectioning-background-color: hsl(199.41176, 100%, 40%);
        overflow-y: hidden;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        header {
          padding: 1rem;
          position: sticky;
          top: 0;
          left: 0;
          z-index: 1;
          max-width: 100%;
          --pico-color: white;
          --pico-h1-color: white;
          .outline{
              --pico-background-color: var(--pico-form-element-background-color) !important;
              --pico-border-color: var(--pico-form-element-border-color) !important;
              --pico-color: var(--pico-form-element-color)  !important;
            }
          }
        main {
          overflow-y: auto;
          padding: 1rem;
        }
      }
    </style>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow-y: none;
    ">
    <%- include('../partials/header'); %>

    <main
      style="
        padding: 0em 1em;
        flex: auto;
        overflow-y: auto;
        display: flex;
      ">
