<style>
  nav {
    height: 3.5em;
  }

  nav ul li:first-child {
    width: 21.25vw;
    padding-left: 1em;
    font-size: 1.5em;
    text-align: center;
  }

  nav ul li:first-child img {
    width: 2em;
    height: 2em;
  }

</style>

<nav>
  <ul>
    <li onclick="window.location.href='/'">
        <img src="/logo.ico">
        <b>Přehledovník</b>
    </li>
    <li>
      <button
        onclick="window.location.href='/kalendar'"
        >
        Kalendář
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/rozvrhy'"
        >
        Rozvrh
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/osnovy'"
        >
        Osnovy
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/udalosti'"
        >
        Události
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/projekty'"
        >
        Projekty
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/maturity'"
        >
        Maturita
      </button>
    </li>
  </ul>
</nav>
