<nav style="padding: 0em 1em">
  <ul>
    <li><strong>Přehledovnik</strong></li>
  </ul>
  <ul>
    <li>
      <button
        class="outline"
        hx-get="/example"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Example
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/kalendar"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Kalendář
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/rozvrhy"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Rozvrh
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/osnovy"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Osnovy
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/udalosti"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Události
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/projekty"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Projekty
      </button>
    </li>
    <li>
      <button
        class="outline"
        hx-get="/maturity"
        hx-target="body"
        hx-push-url="true"
        hx-swap="transition:true">
        Maturita
      </button>
    </li>
  </ul>
</nav>
