<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Přehledovnik</title>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
/>
<link rel="icon" href="./favicon.ico" type="image/x-icon" />
<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<style>
    :root {
        --pico-font-size: 100%;
    }
</style>