<nav>
  <ul>
    <li>
        <b>Přehledovník</b>
    </li>
    <li>
      <button
        onclick="window.location.href='/kalendar'"
        >
        Kalendář
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/rozvrhy'"
        >
        Rozvrh
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/osnovy'"
        >
        Osnovy
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/udalosti'"
        >
        Události
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/projekty'"
        >
        Projekty
      </button>
    </li>
    <li>
      <button
        onclick="window.location.href='/maturity'"
        >
        Maturita
      </button>
    </li>
  </ul>
</nav>
