<html lang="cs" style="max-height: 100vh; max-width: 100vw">
  <head style="flex: none">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Přehledovnik</title>
    <link
      rel="stylesheet"
      href="/css/pico.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <style>
      :root {
        --pico-font-size: 100%;
        background-image: linear-gradient(
          45deg,
          hsla(192, 100%, 50%, 0.1) 0%,
          hsla(162, 100%, 50%, 0.1) 50%,
          hsla(132, 100%, 50%, 0.1) 100%
        );
      }
      [data-theme=light],
      :root:not([data-theme=dark]) {
        --white: hsla(0, 0%, 100%, 1);
        --page-bg: hsla(0, 0%, 100%, 1);
        --content-bg: hsla(220, 60%, 95%, 1);
        --navbar-bg: hsla(223, 55%, 29%, 1);
        --navbar-btn: hsla(223, 44%, 35%, 1);
        --light-blue: hsla(199, 100%, 40%, 1);
        --light-blue-btn: hsla(199, 100%, 35%, 1);
        --schedule-bg-lighter: hsla(223, 14%, 90%, 1);
        --schedule-bg-darker: hsla(0, 0%, 85%, 1);
        --light-blue-field: hsla(201, 66%, 55%, 1);
      }

      @media only screen and (prefers-color-scheme: dark) {
        :root:not([data-theme]) {
          --white: hsla(0, 0%, 82%, 1);
          --page-bg: hsla(219, 25%, 16%, 1);
          --content-bg: hsla(201, 28%, 16%, 1);
          --navbar-bg: hsla(204, 25%, 11%, 1);
          --navbar-btn: hsla(210, 27%, 12%, 1);
          --light-blue: hsla(199, 81%, 26%, 1);
          --light-blue-btn: hsla(199, 100%, 29%, 1);
          --schedule-bg-lighter: hsla(204, 11%, 33%, 1);
          --schedule-bg-darker: hsla(210, 9%, 21%, 1);
          --light-blue-field: hsla(199, 58%, 33%, 1);
        }
      }

      nav {
          --pico-color: hsl(199.41176, 100%, 100%);
          padding-left: .5em;
          ul {
            li {
                padding: 0 .5em;
            }
            li:not(:first-child) {
                flex-grow: 1;
            }
          }
        }
      body {
          display: flex;
          flex-direction: column;
          height: 100vh;
          overflow: hidden;
          > nav {
            --pico-border-radius: 0;
            background-color: var(--navbar-bg);
            margin-bottom: 1em;
            ul {
                width: 100%;
            }
            li {
              padding: 0 .5em;
              button {
                --pico-background-color: var(--navbar-btn);
                border: none;
                width: 100%;
              }
            }
          }
      }
      article {
        --pico-card-sectioning-background-color: hsl(199.41176, 100%, 40%);
        overflow-y: hidden;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        header {
          padding: 1rem;
          position: sticky;
          top: 0;
          left: 0;
          z-index: 1;
          max-width: 100%;
          --pico-color: white !important;
          --pico-h1-color: white;
          --pico-primary-background: var(--light-blue-btn) !important;
          button, input {
            --pico-spacing: 0;
            border: none !important;
          }
          > nav {
              --pico-spacing: 0;
              --pico-typography-spacing-vertical: 0;
          }
          .outline, input, select, textarea {
              --pico-background-color: var(--light-blue-field) !important;
              // --pico-border-color: var(--pico-form-element-border-color) !important;
              border: none;
              --pico-color: var(--white)  !important;
              // --pico-color: white !important;
            }
          }
        main {
          overflow-y: auto;
          padding: 1rem;
        }
      }
    </style>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <main
      style="
        padding: 0em 1em;
        flex: auto;
        overflow: hidden;
        display: flex;
      ">
