        <nav style="padding: 0em 1em;">
            <ul>
                <li><strong>Přehledovnik</strong></li>
            </ul>
            <ul>
				<li>
					<input class="outline" type="button" value="Example" onclick="window.location.href = '/example'">
                </li>
				<li>
					<input class="outline" type="button" value="Kalendář" onclick="window.location.href = '/kalendar'">
                </li>
                <li>
					<input class="outline" type="button" value="Rozvrh" onclick="window.location.href = '/rozvrhy'">
                </li>
                <li>
                    <input class="outline" type="button" value="Osnovy" onclick="window.location.href = '/osnovy'">
                </li>
                <li>
					<input class="outline" type="button" value="Události" onclick="window.location.href = '/udalosti'">
                </li>
                <li>
					<input class="outline" type="button" value="Projekty" onclick="window.location.href = '/projekty'">
                </li>
                <li>
					<input class="outline" type="button" value="Maturita" onclick="window.location.href = '/maturity'">
                </li>
            </ul>
        </nav>
