<!DOCTYPE html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
  <head style="flex: none">
    <%- include('../partials/head'); %>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow-y: none;
    ">
    <%- include('../partials/header'); %>
    <style>
      .button {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding: 10px;
      }
      .tlacitko {
        margin: 20px 0;
        padding: 15px;
        /* background-color: #007bff;
        color: white; */
        border: none;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
    </style>
    <main
      style="
        padding: 1em;
        padding-bottom: 0;
        flex: auto;
        overflow-y: auto;
        background-image: linear-gradient(
          45deg,
          hsla(192, 100%, 50%, 0.1) 0%,
          hsla(162, 100%, 50%, 0.1) 50%,
          hsla(132, 100%, 50%, 0.1) 100%
        );
        display: flex;
      ">
      <article
        style="
          width: 20vw;
          min-width: 20vw;
          margin-right: 1em;
          overflow-y: auto;
          resize: horizontal;
        ">
        <h1 style="text-align: center">Sidebar</h1>

        <div class="button">
          <a href="../maturity/">
            <button class="tlacitko" >
              PŽOP
            </button>
          </a>
          <a href="../maturity/pcmz">
            <button class="tlacitko">
              PČMZ
            </button>
          </a>
          <a href="../maturity/scmz">
            <button class="tlacitko">
              SČMZ
            </button>
          </a>
          <a href="../maturity/sloh">
            <button class="tlacitko">
              SLOH
            </button>
          </a>
        </div>
      </article>

      <article style="flex: 3; overflow-y: auto">
        <h1>PŽOP</h1>
        <form action="/maturity/ukladanipzop"; method="POST"; style="display: flex; flex-direction: column">
          <label for="den-konani">Den konání:</label>
          <input type="date" id="den-konani" name="den_konani" />

          <label for="dodatecne-dny">Dodatečné dny:</label>
          <input type="date" id="dodatecne-dny" name="dodatecne_dny" />

          <label for="ucebna">Učebna:</label>
          <select
            id="ucebna"
            name="ucebna"
            style="margin-bottom: 1em; padding: 0.5em">
            <option value="ucebna1">Učebna 1</option>
            <option value="ucebna2">Učebna 2</option>
            <option value="ucebna3">Učebna 3</option>
          </select>

          <div style="text-align: center">
            <button
              type="submit"
              style="
                padding: 0.5em;
                border: none;
                cursor: pointer;
                width: 150px;
              ">
              Uložit
            </button>
          </div>
        </form>
      </article>
    </main>
  </body>
</html>
