.deleteCurButton {
	visibility: hidden;
    opacity: 0;
    background-color: transparent;
    border-color: red;
    color: red;
    flex-basis: 0;
	flex-grow: 0;
	min-width: 0;
	margin-right: -40px;
    overflow: hidden;
    padding: 0;
    transition: margin-right 0.2s ease, flex-basis 0.25s ease, opacity 0.25s ease, visibility 0.25s ease;
}

.cur:hover .deleteCurButton {
	visibility: visible;
	opacity: 1;
    flex-basis: 68px; /* Width on hover */
	margin-right: 0px;
}