.deleteCurButton {
	visibility: hidden;
    opacity: 0;
    background-color: transparent;
    border-color: red;
    color: red;
    flex-basis: 0;
	flex-grow: 0;
	min-width: 0;
	margin: 0;
    overflow: hidden;
    padding: 0 !important;
    transition: flex-basis 0.25s ease, opacity 0.25s ease, visibility 0.25s ease;
}

.cur:hover .deleteCurButton {
	visibility: visible;
	opacity: 1;
    flex-basis: 38px; /* Width on hover 68 */
}